.navbar {
    background-color:rgb(135, 135, 201)
}

.bg {
    background-color: rgb(217, 217, 241);
}

.texth2 {
    color:rgb(105, 105, 216);
}

.text1 {
    color:rgb(104, 104, 187);
}

.cardb {
    background-color:rgb(227, 227, 248);
}